<link rel="stylesheet" type="text/css" href="jobs.css"></link>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script type="text/javascript" src="/dashboard.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<body ng-app="dashboard">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Operator App</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
			</div>
		</div>
	</nav>
	<div class="dashboard container-fluid" ng-controller="JobsController as jobsCtrl">
		<div class="row" ng-controller="JobsController as jobsCtrl">
			<div class="jobs col-sm-3 col-md-2 sidebar force-fixed">
				<ul class="job nav">
					<li class="job-requester" ng-repeat="job in jobsCtrl.jobs" ng-class="{new: job.jobStatus === 'new', inprogress: job.jobStatus === 'progress', resolved: job.jobStatus === 'resolved'}" ng-click="jobsCtrl.setCurrentJob(job.id)">
						<a href="#">[{job.requester}]</a>
					</li>
<!-- 					<div class="job-description">
						[{job.description}]
					</div>
					<div class="job-phone">
						[{job.phoneNumber}]
					</div> -->
				</ul>
			</div>
			<div class="main-content" ng-show="jobsCtrl.currentJob">
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<h3> [{jobsCtrl.getCurrentJob().requester}]</h3>
					<div class="phone-number">
							<span class="glyphicon glyphicon-earphone">	[{jobsCtrl.getCurrentJob().phoneNumber}]</span>
					</div>
					<div class="description">
						<h4>Description</h4>
						[{jobsCtrl.getCurrentJob().description}]	
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>