<form name="notesForm" ng-controller="NotesController as notesCtrl" ng-submit="notesCtrl.addNote(jobsCtrl.getCurrentJob())">
	<h4>Notes</h4>
	<div class="notes-display">
		<table class="table table-striped table-bordered table-condensed">
			<tr ng-repeat="note in jobsCtrl.getCurrentJob().notes">
				<td>
					[{note.date | date : short}]
				</td>
				<td>
					[{note.content}]
				</td>
			</tr>
		</table>
	</div>
	<div class="notes-container">
		<textarea ng-model="notesCtrl.noteContent"></textarea>
	</div>
	<input type="submit"value="Submit"></input>
</form>